<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信扫码支付</title>
</head>
<body>
<h4>请扫下方二维码完成支付操作</h4>
<img src="/{$filename}">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        setInterval(function(){
            $.get('/Home/Wxpay/getResult.html?pid={$product_id}', function(data){
                console.log(data);
                if (data.status) {
                    //填写自己的业务代码
                    alert('付款成功了。');
                }
            }, 'json')
        },3000)
    })
</script>
</body>
</html>